
<ion-content>
  <p>
    <img src="../../assets/pages/home/Urra-Logo.png" alt="">
  </p>
  <p class="titulo">
    Has recibido una oferta
  </p>
  <p class="sub">
    Tienes una oferta de envío esperandote para adquirir tus pedidos
  </p>
  <img class="fondo" src="../../assets/pages/notificaciones/fondo.svg" alt="">
</ion-content>
<ion-footer>
  
    <nav>
      <a href="#"><img src="../../assets/pages/notificaciones/redes.png" alt=""></a>
    </nav>
    <p class="copy">Copyright © 2019 Urra. All rights reserved.</p>
    <p class="copy">El Equipo de Urra</p>
</ion-footer>
